/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';
@include create-project(pin, true);

a {
  color: var(--pin-primary);
  text-decoration: none;
}

mat-chip {
  background-color: transparent !important;
  color: var(--pin-on-background) !important;
}

h1, h2, h3, h4, h5, h6 {
  font: 700 24px/32px Roboto, Arial, sans-serif;
  letter-spacing: normal;
  font-weight: 200;
  margin: 0;
}

* {
  scrollbar-width: 12px;
  scrollbar-color: rgba(0,0,0,.15) rgba(0,0,0,.25);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(0,0,0,.15);
  scrollbar-width: 12px;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.25);
  border-radius: 100px;
}

.Completed {
  background-color: var(--pin-primary);
  border-color: var(--pin-primary);
}

.Failed {
  background-color: var(--pin-error);
  border-color: var(--pin-error);
}

.Started {
  background-color: var(--pin-warning);
  border-color: var(--pin-warning);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
