<div class="card kit">
  <div class="start">
    <ng-container *ngFor="let tool of toolkitItems">
      <ng-container
        [ngTemplateOutlet]="tool.template"
        [ngTemplateOutletContext]="{
          action: tool.action,
          isCurrent: tool.isCurrent,
          tooltip: tool.tooltip
        }"></ng-container>
    </ng-container>
  </div>
  <div class="end">
    <a mat-icon-button routerLink="/home" matTooltip="Return Home">
      <mat-icon>home</mat-icon>
    </a>
  </div>
</div>

<ng-template
  #card
  let-action="action"
  let-isCurrent="isCurrent"
  let-tooltip="tooltip">
  <button
    mat-icon-button
    (click)="action()"
    [class.isCurrent]="isCurrent | async"
    [matTooltip]="tooltip">
    <mat-icon>post_add</mat-icon>
  </button>
</ng-template>

<ng-template
  #label
  let-action="action"
  let-isCurrent="isCurrent"
  let-tooltip="tooltip">
  <button
    mat-icon-button
    (click)="action()"
    [class.isCurrent]="isCurrent | async"
    [matTooltip]="tooltip">
    <mat-icon>text_fields</mat-icon>
  </button>
</ng-template>
